#### Project specific ####
data/
models/
config/
external/
!*.example

# Python
python/data/

#### Language ####

#### C++ ####
*.o
*.out
*.out.dSYM/
*.d/

#### Python ####
__pycache__/
*.py[cod]
*$py.class

#### IDE #####
# Clion
cmake-build-debug/
CMakeLists.txt

# Pycharm
.idea/