# Package Information for pkg-config

# Path to where Caffe is installed
prefix=/home/samuel/caffe
# Path to where libcaffe.so is
libdir=${prefix}/.build_release/lib
# Path to where include files are
includedir=${prefix}/include

Name: Caffe
Description: Deep learning framework by the BVLC
Version: 1.0
Libs: -L${libdir} -lcaffe
# Libs: += -L/home/samuel/caffe/build/lib -lcaffe
Cflags: -isystem${includedir} -isystem${prefix}/.build_release/src