# Package Information for pkg-config

# Path to where dlib is installed
prefix=/path/to/dlib
# Path to where libraries are
libdir=${prefix}/lib
# Path to where include files are
includedir=${prefix}/include

Name: dlib
Description: Numerical and networking C++ library
Version: 19.4.0
Libs: -L${libdir} -ldlib
Cflags: -isystem${includedir}
Requires: libpng