# Package Information for pkg-config

# Path to where openBLAS is installed
prefix=/usr/local/Cellar/openblas/0.2.18_2
# Path to where libopenblas.a is
libdir=${prefix}/lib
# Path to where include files are
includedir=${prefix}/include

Name: openBLAS
Description: Optimized BLAS library
Version: 19.2.0
Libs: -L${libdir} -lopenblas
Cflags: -I${includedir}