# Package Information for pkg-config

# Path to where TF is installed
prefix=/usr/local/lib/python2.7/site-packages/tensorflow
# Path to where libtensorflow.so is
libdir=/usr/local/lib
includedir=${prefix}/include

Name: TensorFlow
Description: An open-source software library for Machine Intelligence
Version: 1.0
Libs: -L${libdir} -ltensorflow
Cflags: -I${includedir}
